

<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

  <body><section class="projects section">
    <div class="section-inner col-lg-12">

        <div class="content apiBox" style="background: #EEE;">
          <h3 class="heading">User login</h3>
          <pre>URI       https://127.0.0.1:5000/login
Method	  POST
Data	  {
              "username": "yourusername",
              "password": "yourpassword"
          }
Result	  {
              "username": "yourusername",
              "email": "your@email.address",
          }
Error	  {
              "login": "fail"
          }
          </pre>
          <hr>

          <h3 class="heading">User Registration</h3>
          <pre>URI       https://127.0.0.1:5000/registration
Method	  POST
Data	  {
              "username": "yourusername",
              "email": "your@email.address",
              "password": "yourpassword"
          }
Result	  {
              "Registration": "OK"
          }
Error	  {
              "Registration": "fail"
          }
          </pre>
          <hr>
          <h3 class="heading">User Verification</h3>
          <pre><pre>
          <hr>
          <h3 class="heading">Search online recipes</h3>
          <pre>URI       https://127.0.0.1:5000/recipes or https://127.0.0.1:5000/recipesmember
                Method	  POST (client app only, server side is not needed)
          Data	  {
              "username": "yourusername",
              "email": "your@email.address",
              "password": "yourpassword"
          }
Result	  {
              "Registration": "OK"
          }
Error	  {
              "Registration": "fail"
          }</pre>
          <hr>

          <h3 class="heading">Loads favourite list</h3>
          <pre>URI       https://127.0.0.1:5000/editfavlist
Method	  GET
Data	  {
          "username": "yourusername",
          "password": "yourpassword"
}
Result	[
          {
            "recipe_id": 37121,
            "f2f_url": "http://food2fork.com/view/37121",
            "image_url": "OneRepublic",
            "title": "Vegetarian Spinach and Mushroom Lasagna  ",
          },
          {
            "recipe_id": 4b804e,
            "f2f_url": "http://food2fork.com/view/4b804e",
            "image_url": "OneRepublic",
            "title": "I've Lost My Noodle Vegetarian Lasagna  ",
          }
]
Error	{
}</pre>
          <hr>
          <h3 class="heading">Add items into favourite list</h3>
          <pre></pre>
          <hr>
          <h3 class="heading">Remove items from favourite list</h3>
          <pre></pre>
          <hr>

</div><!--//section-inner-->
</div></section></body></html>
